.anunciar-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.anunciar-main > h1 {
    grid-column: 1;
    grid-row: 1;
}

.post-vaga-col1 {
    grid-column: 1;
    grid-row: 2;
}

.postar-vaga{
    grid-column: 1;
    grid-row: 3;

}

.post-vaga-col2 {
    grid-column: 2;
    grid-row: 2/5;
}

input, textarea {
    width: 100%;
    padding: 5px;
    border: #040837 2px solid;
    border-radius: 10px;
    outline: 0;
}

.postar-vaga > button {
    width: 300px;
    cursor: pointer;
    max-width: 100px;
    /* margin-left: 50px; */
    padding: 2px 25px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background-color: #040837;
    border-radius: 5px;
}

.footer-global {
    display: grid;
    grid-template-columns: 1fr 1fr;

    color: #fff;
    /* font-weight: 600; */
    background-color: #040837;
    padding: 50px 20%;
}

.menu-footer {
    display: flex;
    flex-direction: column;
}