main {
    padding: 20px 20%;
}

h1 {
    font-size: large;
    text-transform: uppercase;
}

.area-cadastro {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.textarea {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    grid-column: 1/-1;
}

input {
    padding: 5px;
    border: none;
    border-bottom: #3D69FA 2px solid;
    outline: 0;
}

input:hover, input:active {
    /* width: 100%; */
    border-bottom: #040837 2px solid;
}

textarea {
    width: 100%;
    padding: 5px;
    /* border: none; */
    border: #3D69FA 2px solid;
    outline: 0;
}

textarea:hover, textarea:active {
    /* width: 100%; */
    border: #040837 2px solid;
}


.postar-vaga > button {
    cursor: pointer;
    /* margin-left: 50px; */
    padding: 2px 25px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background-color: #040837;
    border-radius: 5px;
}

.footer-global {
    display: grid;
    grid-template-columns: 1fr 1fr;

    color: #fff;
    /* font-weight: 600; */
    background-color: #040837;
    padding: 50px 20%;
}

.menu-footer {
    display: flex;
    flex-direction: column;
}

@media (max-width: 958px){
    main {
    padding: 20px 5%;
}
    .area-cadastro {
        padding: 20px 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}