@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.header-global {
    background-color: #3D69FA;
}

.header-global {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-transform: uppercase;
    font-weight: 600;
    padding: 20px 200px;
}

.header-global > nav {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    color: #fff;
}

.header-global > nav > button {
    padding: 2px 25px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background-color: #040837;
    border-radius: 5px;
}

.logo {
    width: 150px;
}